wf/BTCTALK users iterator.json
{
  "active": false,
  "connections": {
    "When clicking 'Execute workflow'": {
      "main": [
        [
          {
            "node": "User List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User List": {
      "main": [
        [
          {
            "node": "Loop Over Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Users": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-30T15:41:56.154Z",
  "id": "EqbGWw8q2cgaiZ9t",
  "isArchived": false,
  "meta": null,
  "name": "BTCTALK users iterator",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        180,
        -120
      ],
      "id": "52c433a5-a5c5-4d33-b5a3-17775239aa98",
      "name": "When clicking 'Execute workflow'"
    },
    {
      "parameters": {
        "functionCode": "return [\n  { username: 'plutosky' },\n  { username: 'fillippone' },\n  // Aggiungi altri utenti qui\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        340,
        -260
      ],
      "id": "ad1c5422-15a2-4c92-b294-8793ca689429",
      "name": "User List"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        540,
        -260
      ],
      "id": "579ce486-263c-4211-afe2-2bae0434912d",
      "name": "Loop Over Users"
    },
    {
      "parameters": {
        "url": "=https://api.ninjastic.space/posts?author={{ $json.username }}&limit=10 ",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        480,
        0
      ],
      "id": "58998158-3c76-41bf-93ac-78989e550457",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://blackout.altervista.org/314blackout/n8n.php",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        920,
        -20
      ],
      "id": "ade85660-48ed-49c3-a034-a833b56a99ae",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-07-13T12:02:25.190Z",
      "updatedAt": "2023-07-13T12:02:25.190Z",
      "id": "1",
      "name": "bitcointalk"
    },
    {
      "createdAt": "2025-06-20T08:31:03.031Z",
      "updatedAt": "2025-06-20T08:31:03.031Z",
      "id": "7qISTpJhtvgcn5xU",
      "name": "news"
    },
    {
      "createdAt": "2025-06-16T21:12:43.951Z",
      "updatedAt": "2025-06-16T21:12:43.951Z",
      "id": "gpQfnfNpSTgPkpDk",
      "name": "agent"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-30T15:47:40.000Z",
  "versionId": "660594e1-d42a-448c-82da-d0bb30510ec8"
}