wf/BTCTALK users iterator.json
{
  "active": false,
  "connections": {
    "User List": {
      "main": [
        [
          {
            "node": "Loop Over Users",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "User List",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Loop Over Users": {
      "main": [
        [
          {
            "node": "HTTP Ninjastic Posts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Ninjastic Posts": {
      "main": [
        [
          {
            "node": "Split Out",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Out": {
      "main": [
        [
          {
            "node": "Code",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Code": {
      "main": [
        [
          {
            "node": "Send Analyzed Post",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-07-30T15:41:56.154Z",
  "id": "EqbGWw8q2cgaiZ9t",
  "isArchived": false,
  "meta": null,
  "name": "BTCTALK users iterator",
  "nodes": [
    {
      "parameters": {
        "method": "POST",
        "url": "http://blackout.altervista.org/314blackout/n8n.php",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.full_text }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        1020,
        -100
      ],
      "id": "b6e4375e-0476-4f1e-80e1-527a63692f8d",
      "name": "Send Analyzed Post"
    },
    {
      "parameters": {
        "functionCode": "return [\n  { username: 'plutosky' },\n  { username: 'fillippone' },\n  { username: 'bitbollo' },\n  { username: 'hhampuz' }\n  // Aggiungi altri utenti qui\n];"
      },
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        320,
        -340
      ],
      "id": "7f7842ac-4338-46a8-b003-720f845137b6",
      "name": "User List"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        100,
        -340
      ],
      "id": "0544c13f-f77b-47bf-b155-bf7da973583f",
      "name": "Start"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 1,
      "position": [
        500,
        -340
      ],
      "id": "e9686211-1704-41d5-9bcc-8a4e2bb8ccc9",
      "name": "Loop Over Users"
    },
    {
      "parameters": {
        "url": "=https://api.ninjastic.space/posts?author={{ $json.username }}&limit=10",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        320,
        -100
      ],
      "id": "dee70412-c4fc-4dbd-a5a3-fda661e5a507",
      "name": "HTTP Ninjastic Posts"
    },
    {
      "parameters": {
        "fieldToSplitOut": "data.posts",
        "options": {}
      },
      "type": "n8n-nodes-base.splitOut",
      "typeVersion": 1,
      "position": [
        500,
        -100
      ],
      "id": "d76e454a-7fa2-45b7-870b-2a50ed46952f",
      "name": "Split Out"
    },
    {
      "parameters": {
        "jsCode": "/** var newItems = [];\n\nfor (const item of $input.all()) {\n  newItems.push({\n    json: {\n      title: item.json.title,\n      author: item.json.author,\n      date: item.json.date,\n      tid: item.json.topic_id,\n      pid: item.json.post_id\n    }\n  });\n}\n\nreturn newItems; */\n\nconst allPosts = $input.all();\nconst today = new Date().toISOString().split('T')[0]; // Otterrà \"2025-07-30\"\n\nlet fullTextContent = '';\nfor (const post of allPosts) {\n  const postDate = post.json.date.split('T')[0];\n  \n  if (postDate === today) {\n    fullTextContent += `\n=== INIZIO POST ===\nAutore: ${post.json.author}\nData: ${post.json.date}\nTitolo: ${post.json.title}\n\nContenuto:\n${post.json.content.replace(/<[^>]*>/g, '')}\n=== FINE POST ===\\n\\n`;\n  }\n}\n\nreturn [{ json: { full_text: fullTextContent.trim() } }];"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        780,
        -100
      ],
      "id": "29b59517-f666-4d0f-b495-6853ae253dd6",
      "name": "Code"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "shared": [
    {
      "createdAt": "2025-07-30T15:41:56.168Z",
      "updatedAt": "2025-07-30T15:41:56.168Z",
      "role": "workflow:owner",
      "workflowId": "EqbGWw8q2cgaiZ9t",
      "projectId": "Oa1f6fFg9hKwy8rD"
    }
  ],
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-07-13T12:02:25.190Z",
      "updatedAt": "2023-07-13T12:02:25.190Z",
      "id": "1",
      "name": "bitcointalk"
    },
    {
      "createdAt": "2025-06-20T08:31:03.031Z",
      "updatedAt": "2025-06-20T08:31:03.031Z",
      "id": "7qISTpJhtvgcn5xU",
      "name": "news"
    },
    {
      "createdAt": "2025-06-16T21:12:43.951Z",
      "updatedAt": "2025-06-16T21:12:43.951Z",
      "id": "gpQfnfNpSTgPkpDk",
      "name": "agent"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-07-30T16:44:57.000Z",
  "versionId": "1c862ca5-2d14-4efb-93cd-75471718d68e"
}