wf/Carrefour.json
{
  "active": false,
  "connections": {
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTML Extract",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTML Extract": {
      "main": [
        [
          {
            "node": "Function",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Merge": {
      "main": [
        [
          {
            "node": "MySQL2",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Function": {
      "main": [
        [
          {
            "node": "Merge",
            "type": "main",
            "index": 1
          }
        ]
      ]
    },
    "Cron": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          },
          {
            "node": "Merge",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "MySQL2": {
      "main": [
        [
          {
            "node": "Telegram",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start": {
      "main": [
        [
          {
            "node": "MySQL",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2023-07-11T17:09:31.579Z",
  "id": "2",
  "meta": null,
  "name": "Carrefour",
  "nodes": [
    {
      "parameters": {},
      "id": "9d214685-7d75-4c7e-860b-5e07591a26c4",
      "name": "Start",
      "type": "n8n-nodes-base.start",
      "typeVersion": 1,
      "position": [
        240,
        560
      ]
    },
    {
      "parameters": {
        "url": "= {{$json[\"url\"]}}",
        "allowUnauthorizedCerts": true,
        "responseFormat": "string",
        "options": {}
      },
      "name": "HTTP Request",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 2,
      "position": [
        480,
        740
      ],
      "id": "f984a996-f0cb-44da-acc5-b3601df7d835"
    },
    {
      "parameters": {
        "extractionValues": {
          "values": [
            {
              "key": "prezzo",
              "cssSelector": ".sales > .value"
            }
          ]
        },
        "options": {}
      },
      "name": "HTML Extract",
      "type": "n8n-nodes-base.htmlExtract",
      "typeVersion": 1,
      "position": [
        640,
        740
      ],
      "id": "b885902e-40d9-4b0a-a050-a4c57a74b972"
    },
    {
      "parameters": {
        "mode": "mergeByIndex"
      },
      "name": "Merge",
      "type": "n8n-nodes-base.merge",
      "typeVersion": 1,
      "position": [
        960,
        560
      ],
      "id": "05bf0300-c8e0-40ab-994a-dbaa05a178fc"
    },
    {
      "parameters": {
        "functionCode": "\nfor (item of items) {\n  item.json.prezzo = parseFloat(item.json.prezzo.substr(2).replace(',','.'));\n}\n\nreturn items;"
      },
      "name": "Function",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [
        860,
        740
      ],
      "id": "4d5cf444-0452-429a-98cf-d2ae470d0e4d"
    },
    {
      "parameters": {
        "triggerTimes": {
          "item": [
            {
              "hour": 23,
              "minute": 40
            }
          ]
        }
      },
      "name": "Cron",
      "type": "n8n-nodes-base.cron",
      "typeVersion": 1,
      "position": [
        440,
        440
      ],
      "id": "43ece574-daf0-463b-ab75-f32ca9698a1a"
    },
    {
      "parameters": {
        "operation": "executeQuery",
        "query": "SELECT id AS prodottomarket,url FROM `c_prodotto_market` where market=1;"
      },
      "name": "MySQL",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        680,
        540
      ],
      "id": "f6ed4f9b-ee5e-4f3a-ad3e-0887f58cb37c",
      "credentials": {
        "mySql": {
          "id": "3",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "table": {
          "__rl": true,
          "value": "c_prezzo",
          "mode": "name"
        },
        "columns": "prodottomarket,prezzo",
        "options": {}
      },
      "name": "MySQL2",
      "type": "n8n-nodes-base.mySql",
      "typeVersion": 1,
      "position": [
        1160,
        560
      ],
      "id": "41ce1479-a696-4028-9c7a-749ecc495f94",
      "credentials": {
        "mySql": {
          "id": "3",
          "name": "MySQL account"
        }
      }
    },
    {
      "parameters": {
        "chatId": "-1001478235575",
        "text": "Carrefour Scraped!",
        "additionalFields": {}
      },
      "name": "Telegram",
      "type": "n8n-nodes-base.telegram",
      "typeVersion": 1,
      "position": [
        1320,
        760
      ],
      "id": "9151cf87-9a38-414c-a10d-342f5082faa0",
      "credentials": {
        "telegramApi": {
          "id": "1",
          "name": "Jarvis"
        }
      }
    }
  ],
  "pinData": {},
  "settings": {},
  "staticData": null,
  "tags": [],
  "triggerCount": 1,
  "updatedAt": "2023-11-13T14:28:47.000Z",
  "versionId": "5fdb8c65-6e18-4a39-bb3c-1e2b81351463"
}