wf/plutosky.json
{
  "active": false,
  "connections": {
    "When clicking ‘Execute workflow’": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "DeepSeek Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Simple Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "createdAt": "2025-06-05T20:15:08.570Z",
  "id": "P1j6qpuYbue0Mj3d",
  "isArchived": false,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "name": "plutosky",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -420,
        -140
      ],
      "id": "3d406a93-5259-4f77-bf11-7a8a3d60e74d",
      "name": "When clicking ‘Execute workflow’"
    },
    {
      "parameters": {
        "url": "https://api.ninjastic.space/posts?author=Plutosky&limit=10",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        -200,
        -140
      ],
      "id": "670333ad-3e36-434e-8850-f6aa7860caef",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=fai un summarize di quanto ha detto l'utente, le i suoi interventi sono fuori dal div con classe quoteheader e sono separati da ###\n {{ $json.data.posts.map(item => item.content+\" ###\\n\\n\\n \") }}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2,
      "position": [
        20,
        -140
      ],
      "id": "ef69608f-d089-45c6-a061-d6efe7b1b5c8",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatDeepSeek",
      "typeVersion": 1,
      "position": [
        -120,
        100
      ],
      "id": "746f21f7-6f38-47b3-a341-a379023cc388",
      "name": "DeepSeek Chat Model",
      "credentials": {
        "deepSeekApi": {
          "id": "tRBcT62HWt39rhIT",
          "name": "DeepSeek account"
        }
      }
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.data.posts[0].post_id }}"
      },
      "type": "@n8n/n8n-nodes-langchain.memoryBufferWindow",
      "typeVersion": 1.3,
      "position": [
        20,
        100
      ],
      "id": "0cf00e56-b618-4b15-a9c9-a7d693d24f9d",
      "name": "Simple Memory"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://blackout.altervista.org/314blackout/n8n.php",
        "sendBody": true,
        "contentType": "multipart-form-data",
        "bodyParameters": {
          "parameters": [
            {
              "name": "data",
              "value": "={{ $json.output }}"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        380,
        -140
      ],
      "id": "b963e380-77d6-4e73-ae1e-4b2d4f0c1588",
      "name": "HTTP Request1"
    }
  ],
  "pinData": {},
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "createdAt": "2023-07-13T12:02:25.190Z",
      "updatedAt": "2023-07-13T12:02:25.190Z",
      "id": "1",
      "name": "bitcointalk"
    }
  ],
  "triggerCount": 0,
  "updatedAt": "2025-06-05T20:40:30.000Z",
  "versionId": "a62afa6b-56c8-4172-9133-024d7ecc1e80"
}